#default_container{
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 6px;
  border: solid;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#upgrade_title {
  font-size: 36px;
  font-weight: bold;
  color: darkcyan;
  text-align: center;
  height: 60px;
  border: 2px solid yellowgreen;
}

.upgrade_name {
  font-size: 24px;
  font-weight: bold;
  color: lightseagreen
}

.upgrade_info {
  font-size: 16px;
  font-weight: light;
  color: lightseagreen;
}

.upgradeBox {
  border: 2px solid yellowgreen;
  padding: 2px 0;
}

#upgrade_container {
  overflow-y: auto;
  float: left;
  height: calc(100vh - 50px);
  width: 100%;
}

#class_container {
  border: 2px solid blueviolet;
  border-radius: 15px;
  padding: 10px;
}

#pass_button {
  visibility: hidden;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.cutscene {
  position: fixed;
  width: 75%;
  height: 75%;
  background-color: lightblue;
}

#cutscene_container {
  z-index: -1000;
  position: fixed;
  width: 75%;
  height: 75%;
  top: 12.5%;
  left: 12.5%;
  /* border: 5px solid red;
  border-radius: 15px; */
}

#notification_container {
  position: fixed;
  top: 20px;
  right: 20px;
}

.close_button_wrapper {
  display: flex;
  justify-content: center;
}