#default_container{
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 6px;
  border: solid;
  padding: 5px;
  background-clip: border-box;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
 #upgrade_title {
  color:  #013220
} 

.upgrade_name {
  font-size: 24px;
  font-weight: bold;
}

.upgrade_info {
  font-size: 16px;
  font-weight: bold;
  color: #013220;
}

.grn {
  color: #013220;
}

#class_container {
  padding: 10px;
}

#pass_button {
  visibility: hidden;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.cutscene {
  position: fixed;
  width: 75%;
  height: 75%;
  background-color: lightgrey;
  border-radius: 20px;
  border: 5px solid #013220;
  font-family: monospace;
  
}

#cutscene_container {
  z-index: -1000;
  position: fixed;
  width: 75%;
  height: 75%;
  top: 12.5%;
  left: 12.5%;
}

#notification_container {
  position: fixed;
  top: 20px;
  right: 20px;
}

.close_button_wrapper {
  display: flex;
  justify-content: center;
}

.centerall {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  }

  .centered {
    margin: auto;
  }

  .card {
    background-color: #fff;
    width: 1360px;
    min-height: 200px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 20px
  }

  .card-content {
    min-width: 350px;
    max-width: 380px;
    display: inline-block;
    margin: 5px;
    border: 2px solid #013220;
    border-radius: 15px
  }


#header {
  padding: 20px;
  height: 120px;
  background: url(https://media.wired.com/photos/5ca648a330f00e47fd82ae77/master/pass/Culture_Matrix_Code_corridor.jpg);
  font-family: monospace;
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  align-items: center;
  border-bottom: 10px solid #013220;
  padding-bottom: 50px;
}

#header + .tile {
  padding-top: 102px;
}
.is-ancestor {
  padding: 10px;
}

.tile .is-child{
  border:5px solid #013220;
  font-family: monospace;
  border-radius: 20px
}

.pp_body {
  background-color: lightgrey;
  border-radius: 10px;
  padding: 15px;
  background-clip: border-box;
}

.name {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

.desc {
  font-size: 16px;
  font-family: monospace;
  text-align: justify;
}
.img {
  border-radius: 10px;
}