#header {
  padding: 20px;
  height: 120px;
  background: url(https://media.wired.com/photos/5ca648a330f00e47fd82ae77/master/pass/Culture_Matrix_Code_corridor.jpg);
  font-family: monospace;
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  align-items: center;
  border-bottom: 10px solid #013220;
  padding-bottom: 50px;
}

#header + .tile {
  padding-top: 102px;
}